.messageField {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: aliceblue;
}

.layout {
    height: calc(100vh - 70px);
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon {
    color: #2b5278;
    cursor: pointer;
}