
.header{
    height: 50px;
    background-color: cadetblue;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
}

.chat{
    color: #2b5278;
}