.chatList{
    width: 30%;
    height: calc(100vh - 70px);
    border-right: 1px solid gray;
    background-color: white;
}

a{
    text-decoration: none;
    color: grey;
}

.icon {
    cursor: pointer;
}

.activity{
    background-color: lightblue;;
}